<div class="navbar-first-line">
  <div class="container">
    <div class="consult">
      咨询热线:1376336595
    </div>
    <div class="login-div">
      <a class="login">会员注册</a>
      <a class="register">会员登陆</a>
    </div>
  </div>
</div>

<div class="navbar-second-line">
  <div class="container">
    <nav class="navbar navbar-static-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            Se habla español 
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-nav">
          <ul class="nav navbar-nav">
            <li class="home active"><a ng-href="#/">首页</a></li>
            <li class="about-us"><a ng-href="#/about_us">关于我们</a></li>
            <li class="course-intro"><a ng-href="#">课程介绍</a></li>
            <li class="dele-test"><a ng-href="#">DELE考试</a></li>
            <li class="study-train"><a ng-href="#">游学直通车</a></li>
            <li class="online-course"><a ng-href="#">网络课程</a></li>
            <li class="enterprise-training"><a ng-href="#/enterprise_training">企业培训</a></li>
            <li class="contact-us"><a ng-href="#/contact_us">联系我们</a></li>
            <li class="learning-information"><a ng-href="#/learning_information">学习资讯</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
</div>
  

