<nav class="navbar navbar-static-top">
  <div class="navbar-first-line">
    <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">
            咨询热线:1376336595
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav navbar-right acme-navbar-text">
            <li><a ng-href="#">会员注册</a></li>
            <li><a ng-href="#">会员登陆</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-second-line">
    <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">
            Se habla español 
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li class="active"><a ng-href="#/">首页</a></li>
            <li><a ng-href="#/about_us">关于我们</a></li>
            <li><a ng-href="#">课程介绍</a></li>
            <li><a ng-href="#">DELE考试</a></li>
            <li><a ng-href="#">游学直通车</a></li>
            <li><a ng-href="#">网络课程</a></li>
            <li><a ng-href="#/enterprise_training">企业培训</a></li>
            <li><a ng-href="#/contact_us">联系我们</a></li>
            <li><a ng-href="#/learning_information">学习资讯</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  

</nav>
