/*** enterprise_header ***/
.enterprise_header{
	width: 100%;
	overflow: hidden;
	position: relative;
	/*background-image: url("img/Photo.png");
	background-position:0% 100%;
	background-size:cover;
	height: 580px;*/
}
.enterprise_title{
	font-size: 5rem;
	position:absolute; 
	top:20%; 
	width: 100%;
	color: white;
	font-weight: bold;
}
.foreign_title{
	font-size: 3rem;
	position:absolute; 
	top: 34%; 
	width: 100%;
	color: white;
	font-family: DIN Condensed;
	z-index: 1;
    /*background-color: #f99728;*/
}
.bkg{
	background-color: #f99728;
	width: 24%;
	height: 1.4em;
	position:absolute; 
	top: 37%; 
	right: 38%;
	z-index: 0;
}
@media (max-width: 768px) {
	.foreign_title{
		font-size: 3vw;
	}
	.enterprise_title{
		font-size: 5vw;
	}
	.bkg{
		height: 2vw !important;
	}
}
.main_img{
    width:100%;
    /*position: relative;
    margin: -260px 0px 0 0;
    z-index:0;*/
}
/*** enterprise_header ***/






/*** Service_flow ***/
/*title部分*/
.Service_flow{
    margin-top: 100px;
    position: relative;
}
.Service_icon{
	position: absolute;
	right: 56%;
	top: -0.2%;
	width: 3%;
}
.Service_title{
	color: #f99728;
	font-size: 3rem;
	/*background-image: url("img/服务流程icon.png");
	background-repeat: no-repeat;
	background-size:23px 23px;
    background-position:44.5% 0%;*/
}

@media (max-width: 768px) and (min-width: 612px)  {
    .Service_icon{
        display: none;
        /*position: absolute;
        right: 61%;
        top: -0.6%;
        width: 25px;*/
    }
    .Service_title{
        color: #f99728;
        font-size: 2rem;
        background-image: url("img/服务流程icon.png");
        background-repeat: no-repeat;
        background-size:23px 23px;
        background-position:40% 0%;
        
    }
}
@media (max-width: 612px) and (min-width: 500px)  {
    .Service_icon{
        display: none;
    }
    .Service_title{
        color: #f99728;
        font-size: 2rem;
        background-image: url("img/服务流程icon.png");
        background-repeat: no-repeat;
        background-size:23px 23px;
        background-position:38% 0%;
        
    }
}
@media (max-width: 500px) {
    .Service_icon{
        display: none;
    }
    .Service_title{
        color: #f99728;
        font-size: 2rem;
        background-image: url("img/服务流程icon.png");
        background-repeat: no-repeat;
        background-size:23px 23px;
        background-position:34% 0%;
        
    }
}
/*流程图部分*/
.Service_pic{
	margin-top: 100px;
	position: relative;
    background-image: url("img/流程图.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size:332px;
    height: 900px;
    background-position:center;
}
/*.Service_pic_img{
    width: 30%;
}*/

/*step1*/
.step1{
    font-family: DIN Condensed;
    color: #494949;
}
.step1_num{
    position: absolute;
    top:2.9%;
    left: 60.1%;
    color: white;
    font-size: 4rem;
}
.step1_header{
	position: absolute;
    top:3.2%;
    left: 67%;
    font-size: 2.5rem;
}
.step1_img{
	position: absolute;
    top:-2%;
    left: 21.6%;
    width: 19%;
}

/*step2*/
.step2{
    font-family: DIN Condensed;
    color: #494949;
}
.step2_num{
    position: absolute;
    top:20.2%;
    left: 36.7%;
    color: white;
    font-size: 4rem;
}
.step2_header{
	position: absolute;
    top:20.7%;
    left: 19.2%;
    font-size: 2.5rem;
}
.step2_img{
	position: absolute;
    top:15.4%;
    left: 58.6%;
    width: 19%;
}

/*step3*/
.step3{
    font-family: DIN Condensed;
    color: #494949;
}
.step3_num{
    position: absolute;
    top:37.4%;
    left: 60.1%;
    color: white;
    font-size: 4rem;
}
.step3_header{
	position: absolute;
    top: 37.8%;
    left: 67%;
    font-size: 2.5rem;
}
.step3_img{
	position: absolute;
    top:33.3%;
    left: 21.6%;
    width: 19%;
}

/*step4*/
.step4{
    font-family: DIN Condensed;
    color: #494949;
}
.step4_num{
    position: absolute;
    top:54.5%;
    left: 36.7%;
    color: white;
    font-size: 4rem;
}
.step4_header{
	position: absolute;
    top: 54.1%;
    left: 21.35%;
    font-size: 2.5rem;
}
.step4_img{
	position: absolute;
    top:50.7%;
    left: 58.6%;
    width: 19%;
}

/*step5*/
.step5{
    font-family: DIN Condensed;
    color: #494949;
}
.step5_num{
    position: absolute;
    top:71.8%;
    left: 60.1%;
    color: white;
    font-size: 4rem;
}
.step5_header{
	position: absolute;
    top: 72.4%;
    left: 67%;
    font-size: 2.5rem;
}
.step5_img{
	position: absolute;
    top:68.1%;
    left: 21.6%;
    width: 19%;
}


/*step6*/
.step6{
    font-family: DIN Condensed;
    color: #494949;
}
.step6_num{
    position: absolute;
    top:88.8%;
    left: 36.7%;
    color: white;
    font-size: 4rem;
}
.step6_header{
	position: absolute;
    top: 89.5%;
    left: 23.5%;
    font-size: 2.5rem;
}
.step6_img{
	position: absolute;
    top:85%;
    left: 58.6%;
    width: 19%;
}
/*** Service_flow ***/




/*** 课程特色 ***/
.course_characteristics{
	background-color: #f4f4f4;
	width: 100%;
	margin-top: 200px;
}
.character_img_box{
	margin-top: 100px;
	margin-bottom: 100px;
	padding-left: 150px;
}
.character_img{
	width: 80%;
}
.character_word_box{
	margin-top: 100px;
	margin-bottom: 100px;
	padding-left: 50px;
}
.character_title{
	color: #f99728;
	font-size: 2.5rem;
}
.characters_list{
    margin-top: 30px;
}
.characters{
    margin-top: 30px;
}
.case_list1{
	margin-bottom: 50px;
}
/*** 课程特色 ***/



/*** 成功案例 ***/
.Successful_title{
    color: #f99728;
	font-size: 2.5rem;
	margin-top: 100px;
	margin-bottom: 100px;
}
.enterprise_name{
	margin-top: 20px;
}
.baojie{
	width: 50%;
}
.zara{
	width: 75%;
}
.jialefu{
	width: 80%;
}
/*** 成功案例 ***/






